mixin about()
    section.about
        .about__bg 
            img(src="img/content/intro-bg.webp" alt="Фон блока интро") 
        .container 
            .about__wrapper 
                h2.about__title Нам Вы можете легко доверить!
                p.about__text С Вами работают
                .about__slider.swiper(data-slider="about")
                    .swiper-wrapper 
                        .about__item.swiper-slide
                            .about__image 
                                img(src="img/content/about1.webp" alt="Фото сотрудника") 
                            h3.about__name Мишель Картер
                            p.about__prof Делает все и даже больше
                        .about__item.swiper-slide
                            .about__image 
                                img(src="img/content/about2.webp" alt="Фото сотрудника") 
                            h3.about__name Егор Миронов
                            p.about__prof Уважаемый мастер и профессионал своего дела.
                        .about__item.swiper-slide 
                            .about__image 
                                img(src="img/content/about3.webp" alt="Фото сотрудника")
                            h3.about__name Софи Тернер
                            p.about__prof Уравнитель вершин дизайна
                        .about__item.swiper-slide
                            .about__image 
                                img(src="img/content/about1.webp" alt="Фото сотрудника") 
                            h3.about__name Мишель Картер
                            p.about__prof Делает все и даже больше
                        .about__item.swiper-slide
                            .about__image 
                                img(src="img/content/about2.webp" alt="Фото сотрудника") 
                            h3.about__name Егор Миронов
                            p.about__prof Уважаемый мастер и профессионал своего дела.
                        .about__item.swiper-slide 
                            .about__image 
                                img(src="img/content/about3.webp" alt="Фото сотрудника")
                            h3.about__name Софи Тернер
                            p.about__prof Уравнитель вершин дизайна
