mixin advent()
    section.advent 
        .advent__bg 
            img(src="img/content/hand.webp" alt="Фон блока Преимущества")  
        .advent__bg-img 
            img(src="img/content/intro-bg.webp" alt="Фон блока")  
        .container 
            .advent__wrapper 
                h2.advent__title Преимущества
                ul.advent__list 
                    li.advent__item 
                        p.advent__text Мы предложим вам наиболее выгодное ценовое предложение.
                    li.advent__item 
                        p.advent__text Скооперируемся, обсудим наши намерения и определим чёткие временные рамки для реализации проекта
                    li.advent__item 
                        p.advent__text Корректируем и ждем положительные отзывы.