mixin form-success()
  .form-success
    +icon('icon-check', 40, 40)
    h2.form-success__title Сообщение успешно отправлено
    p.form-success__message В ближайшее время мы свяжемся с вами и ответим на все вопросы