mixin intro()
    section.intro 
        .intro__bg 
            img(src="img/content/intro-bg.webp" alt="Фон блока интро")
        .container 
            .intro__wrapper 
                p.intro__text Гильдия разрабатывает не просто веб-сайт, а полноценное онлайн-событие.
                .intro__images 
                    .intro__image 
                        img(src="img/content/intro1.webp")
                    .intro__image 
                        img(src="img/content/intro2.webp")
                    .intro__image 
                        img(src="img/content/intro3.webp")

