mixin intro()
    section.intro 
        .intro__bg 
            img(src="img/content/intro-bg.webp" alt="Фон блока интро")
        .container 
            .intro__wrapper 
                p.intro__text Гильдия разрабатывает не просто веб-сайт, а полноценное онлайн-событие.
                .intro__slider.swiper(data-slider="cube")
                    .swiper-wrapper 
                        .swiper-slide 
                            img(src="img/content/intro1.webp")
                        .swiper-slide 
                            img(src="img/content/intro2.webp")
                        .swiper-slide 
                            img(src="img/content/intro3.webp")