.form-success {
    &__title {
      margin: 0;
      margin-bottom: 10px;
  
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
  
      @include vp-767 {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
      }
    }
  
    &__message {
      margin: 0;
  
      font-weight: 400;
      font-size: 16px;
      line-height: 137%;
  
      @include vp-767 {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
      }
    }
  
    svg {
      margin-bottom: 10px;
      flex-shrink: 0;
      width: 40px;
      height: 40px;
    }
  }
  