@font-face {
    font-family: 'ZenDots';
    font-weight: 400;
    src: url(../fonts/ZenDots-Regular.woff2),
        url(../fonts/ZenDots-Regular.woff);
}

@font-face {
    font-family: 'Raleway';
    font-weight:400;
    src: url(../fonts/Raleway-Regular.woff2),
        url(../fonts/Raleway-Regular.woff);
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url(../fonts/Raleway-Medium.woff2),
        url(../fonts/Raleway-Medium.woff);
}

@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    src: url(../fonts/Raleway-SemiBold.woff2),
        url(../fonts/Raleway-SemiBold.woff);
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url(../fonts/Raleway-Bold.woff2),
        url(../fonts/Raleway-Bold.woff);
}