mixin footer()
  footer.footer
    .container 
      .footer__wrapper 
        ul.footer__list
          li.footer__item 
            a(href="#!").footer__link
              img(src="img/content/phone.webp" width="91" height="91")
          li.footer__item 
            a(href="#!").footer__link
              img(src="img/content/what.webp" width="91" height="91")
          li.footer__item 
            a(href="#!").footer__link
              img(src="img/content/email.webp" width="91" height="91")
