mixin header(headerMods, currentUrl)
  -
    

  header.header(class=headerMods data-header data-media="(max-width: 1023px)")
    .header__bg 
      img(src="img/content/guild-bg.webp" alt="Фон в шапке")
    .container
      .header__wrapper
        h1.header__title The Guild
        p.header__text Создание сайтов и интернет-магазинов: быстро, качественно и с учетом дизайнерских решений.